@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #000928;
  --color-on-primary: #ffffff;
  --color-primary-container: #0b1f4d;
  --color-on-primary-container: #7788bc;
  
  --color-secondary: #2d6950;
  --color-secondary-container: #afedcd;
  --color-on-secondary-container: #326d54;
  
  --color-surface: #f7f9fd;
  --color-surface-container-low: #f2f4f8;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1f;
  --color-on-surface-variant: #45464f;
  
  --color-outline: #757680;
  --color-outline-variant: #c5c6d0;
  
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}
